@{
    ViewBag.Title = "Face Recognition";
}
@model IEnumerable<AdminPortalV8.Models.Epatrol.Camera>

<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.13/jspdf.plugin.autotable.min.js"></script>
    <style>
        table {
            width: 100%;
        }

        td {
            text-align: left; 
            vertical-align: top; 
        }

        input[type="file"]{
            width: 240px; 
        }

        input[type="text"]{
            width: 300px; 
        }

        .btn{
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container-fluid" style="width: 100%; margin: auto; border-radius: 10px; background-color: white; padding: 20px;">
        <!-- Trigger Python DB script -->
        <h4>Upload Image for Face Recognition</h4>
        <hr />
        <form asp-action="RunPythonDbScript" asp-controller="Findperson" method="post" enctype="multipart/form-data">
            <table>
                <tr>
                    <td>
                        <label>Upload an image:</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="file" name="uploadedImage" class="form-control" accept="image/*" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-primary">Save Image</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="container-fluid" style="width: 100%; margin: auto; border-radius: 10px; background-color: white; padding: 20px;margin-top: 20px">
        <h4>Start Camera</h4>
        <hr />
        <!-- Start Button-->
        <form asp-action="RunPythonScript" asp-controller="Findperson" method="post" id="cameraForm">
            <table>
                <tr>
                    <td>
                        <label>3. Please select cameras. (Check one or more cameras or add a custom link)</label>
                    </td>
                </tr>
                @if (Model != null && Model.Any())
                {
                    var i = 0;
                    foreach (var camera in Model)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" id="camera_@i" name="Cameras" value="@camera.Url"/>
                                <label for="camera_@i">@camera.Name</label>
                            </td>
                        </tr>
                        i++;
                    }
                }
                else
                {
                    <tr>
                        <td>No Cameras Available</td>
                    </tr>
                }
                <tr>
                    <td>
                        <button type="submit" class="btn btn-primary" id="start_process_btn">Start Finding</button>
                    </td>
                </tr>
            </table>
        </form>
        <!-- Button to stop the Python script -->
        <form asp-action="StopPythonScript" asp-controller="Findperson" style="margin-top: 10px;" method="post">
            <button type="submit" class="btn btn-danger" id="stop_process_btn">Stop Finding</button>
        </form>
    </div>

    <!-- Process Messages -->
    <div id="process_running" style="display: none;">
        <h3>Output</h3>
        <pre>Process Running....</pre>
    </div>

    <div id="process_stopping" style="display: none;">
        <h3>Output</h3>
        <pre>Process Stopping....</pre>
    </div>

    <!-- Person Found Output -->
    @if (!String.IsNullOrEmpty(ViewBag.Message))
    {
        <h3>Output</h3>
        <pre>@ViewBag.Message</pre>
    }

    <!-- Error Messages -->
    @if (!String.IsNullOrEmpty(ViewBag.Errors))
    {
        <h3 style="color:red;">Errors</h3>
        <pre>@ViewBag.Errors</pre>
    }
    @if (!String.IsNullOrEmpty(ViewBag.Error))
    {
        <h3 style="color:red;">Error</h3>
        <pre>@ViewBag.Error</pre>
    }

    <!-- JavaScript to Display Process Messages-->
    <script>
        document.getElementById("start_process_btn").addEventListener("click", function (event) {

            // Display the div with the process message
            const processDiv = document.getElementById("process_running");
            processDiv.style.display = "block";
        });

        document.getElementById("stop_process_btn").addEventListener("click", function (event) {

            // Display the div with the process message
            const processDiv = document.getElementById("process_stopping");
            processDiv.style.display = "block";
            const processDiv2 = document.getElementById("process_running");
            processDiv2.style.display = "none";
        });
    </script>

    <!-- Ensure atleast one checkbox is checked for form -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.getElementById("cameraForm");
            const checkboxes = form.querySelectorAll('input[type="checkbox"]');

            form.onsubmit = function (e) {
                // Check if at least one checkbox is checked
                const atLeastOneChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);

                if (!atLeastOneChecked) {
                    e.preventDefault(); // Prevent form submission
                    alert("Please select at least one camera.");
                }
            };
        });
    </script>

</body>
</html>
